{% extends 'base.html' %}

{% block content %}
    <div class="content-block">
        <h1 class="title" style="position: relative; top: 20px;">Наші контакти</h1>
        <div class="payment-info-container">

            <h2 class="title">Як нам подзвонити?</h2>

            <div class="payment-info">
                <h4 class="title">Київстар: 06868000000</h4>
                <h4 class="title">МТС: 05068000000</h4>

                <br>
                <br>

                <h2 class="title">Як нам написати?</h2>

                <h4 class="title">ourpost@gmail.com</h4>

            </div>

        </div>
    </div>
{% endblock %}
