{% extends 'base.html' %}

{% block content %}
    <div class="forgot-pass-wrapper">
        <div class="forgot-pass-content">
            <form class="forgot-pass-form" method="POST">{% csrf_token %}
                <div><p>Для зміни паролю, вкажіть електронну пошту, яка була прив'язана до вашого
                особистого кабінету. На скриньку яку ви вкажете буде відправлено повідомлення
                для підтвердження зміни паролю. Перейдіть за посиланням, яке вказане в повідомленні та
                змініть ваш пароль.</p></div>
                {{ form.as_p }}
                <button class="btn btn-primary">Змінити пароль</button>
            </form>
        </div>
    </div>
{% endblock %}
