<div style="background: #f9f9f9; padding: 10px;">

    <h1 style="color: #686868; margin-bottom: 30px;">Ви надіслали запит для зміни паролю на сайті "Al dente"</h1>

    <h3 style="color: #424242; margin-top: 30px;">Для зміни паролю перейдіть за посилання нижче</h3>
    <h3 style="color: #424242; margin-bottom: 30px;"><a href="{{ link }}">Посилання нижче</a></h3>

    <h3 style="color: #ff9ed1; margin-left: 30px; margin-bottom: 30px;">Дякуємо, що обрали наш магазин "Al dente"</h3>

    <h3 style="color: #686868;">Якщо у Вас є зауваження до роботи сайту або побажання які б нам допомогли б стати кращими
    Напишіть нам: gmail@gmail.com
    Подзвоніть нам: +380 000 000 000</h3>

</div>
