{% extends 'base.html' %}

{% block content %}
    <div class="content-block">
        <h1 class="title" style="position: relative; top: 20px;">Інформація про оплату та доставку</h1>
        <div class="payment-info-container">

            <h2 class="title">Як оплачувати?</h2>

            <div class="payment-info">
                <h4 class="title">Якщо під час замовлення, в полі "Спосіб оплати", обрали "Приват24".</h4>
                <p>Тоді вам потрібно відправити суму коштів яка була вказана під час
                    оформлення замовлення. Якщо ви забули яка це була сума, ви можете переглянути її
                    в повідомленні яке ми відправили вам на пошту. Гроші потрібно відсилати
                    на рахунок який вказаний в тому ж повідомленні.</p>

                <br>

                <h4 class="title">Якщо під час замовлення, в полі "Спосіб оплати", обрали "Оплата при отриманні".</h4>
                <p>Тоді ви повинні оплатити суму яку вам скажуть при отриманні на касі "Нова Пошта".</p>

                <br>
                <br>

                <h2 class="title">Як ми виконуємо доставку?</h2>

                <h4 class="title">Якщо під час замовлення, в полі "Спосіб оплати", обрали "Приват24".</h4>
                <p>Після надходження повної суми вашого замовдення на наш рахунок, ми швиденько пакуємо
                вибрані вами позіції і надсилаємо за вказаною вами адресою.</p>

                <br>

                <h4 class="title">Якщо під час замовлення, в полі "Спосіб оплати", обрали "Оплата при отриманні".</h4>
                <p>Тоді ми виконуємо пакування негайно і надсилаємо вам ваше замовлення.</p>
            </div>

        </div>
    </div>
{% endblock %}
