<div style="background: #f9f9f9; padding: 10px;">

    <h1 style="color: #686868; margin-bottom: 30px;">Реквізити для оплати замовлення в магазині "Al dente"</h1>

    <p style="width: 600px; margin: auto; color: #686868;">Після оплати {{ order_total_price }} грн ваше замовлення буде опрацьовано
    найближчим часом та відправлено за вказаною вами в замовленні адресою: {{ shipping_address }} на ім'я {{ payee_name }}</p>

    <h3 style="color: #424242; margin-top: 30px;">Реквізити для оплати: 0000 0000 0000 0000</h3>
    <h3 style="color: #424242; margin-bottom: 30px;">Ім'я отримувача: Ім'я Отримувача</h3>

    <h4 style="color: #ff9ed1; margin-left: 30px; margin-bottom: 30px;">Дякуємо, що обрали наш магазин "Al dente"</h4>

    <h4 style="color: #686868;">Якщо у Вас є зауваження до роботи сайту або побажання які б нам допомогли б стати кращими
    Напишіть нам: gmail@gmail.com
    Подзвоніть нам: +380 000 000 000</h4>


</div>
